.d-flex {
    display: flex;
}

.modal-header .close {
    outline: none;
}

select,
input {
    outline: none;
}

.visibility-hd {
    visibility: hidden !important;
}

.hide-rotate {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
    z-index: 9999;
}

.hide-rotate>h4 {
    color: #fff;
}

.loading::before {
    opacity: 0.9;
}

ul#pill-tab {
    margin-bottom: 10px;
}

ul#pill-tab>li a {
    padding: 6px 12px;
    border-top: 0;
    transition: all .15s linear;
}

ul#pill-tab>li {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    overflow: hidden;
}

ul#pill-tab>li.active {
    border-color: #367fa9;
}

.po-r {
    position: relative;
}

#modal_service .list-group.list-group-flush {
    max-height: 63vh;
    overflow-y: auto;
}

#modal_service .list-group .list-group-item {
    padding: 5px 10px;
}

#modal_service .list-group .list-group-item input {
    border-radius: 4px;
}

#modal_service .custom-control-label {
    margin-left: 5px;
    user-select: none;
}

@keyframes rotate-mb {

    0%,
    100% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(90deg);
    }
}

.hide-rotate img {
    width: 60%;
    animation-name: rotate-mb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.dataTables_length select {
    padding: 5px 10px;
}

.dataTables_paginate {
    border-radius: 4px;
    border: 1px solid #e7eaec;
    padding: 0 !important;
    margin: 10px 0;
    white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    cursor: default;
    background: #337ab7;
    border-color: #337ab7;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 15px;
}

.list-ser>ul>li {
    border: none;
    border-bottom: 1px solid #cccccc;
    background-color: transparent;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.list-ser>ul>li button {
    outline: none;
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 25px !important;
    padding: 0.35rem 0.85rem;
}

.list-ser>ul>li button.btn-remove {
    background: #e4e6eb;
    border: 1px solid #e4e6eb;
    color: #050505;
    margin-right: 5px;
}

.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.owl-carousel .owl-item img {
    width: auto;
    max-height: 70vh;
}

/* .head-action {
    display: flex;
    justify-content: space-between;
} */

.wrap-search-invoice {
    position: absolute;
    right: 0;
    top: 0;
}

.wrap-search-invoice .remove-search-invoice {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
}


.wrap-search-invoice input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.wrap-filter {
    margin-bottom: 15px;
}

.box-body {
    position: relative;
}

.box-body .btn-submit-filler {
    width: max-content;
    /* position: absolute;
    top: -10px;
    z-index: 9; */
}

/* css list invoice */
/* .wrap-invoice {
    padding-top: 15px;
} */

.wrap-invoice .list-invoice {
    background: #fff;
    list-style: none;
    padding: 0;
    display: block
}

.list-invoice .list-item-invoice {
    position: relative;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}

.list-invoice .list-item-invoice .item-wrap {
    display: flex;
    justify-content: space-between;
}

.list-invoice .list-item-invoice .i-info-invoice {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.list-invoice .list-item-invoice .i-info-invoice .wrap-plus-info-invoice {
    width: 45%;
}

.list-invoice .list-item-image-invoice {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transition: 0.3s;
}

.list-invoice .list-item-image-invoice:hover {
    transform: scale(1.1);
}

.list-invoice .list-item-content-invoice {
    margin-left: 10px;
}

.list-invoice .list-item-invoice .i-btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.list-invoice .item-children-invoice {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-invoice .list-item-content-invoice p {
    margin-top: 5px;
}

.list-invoice .list-item-content-invoice h4,
.list-invoice .list-item-content-invoice p {
    margin: 0;
}

.list-invoice .item-children-invoice .icon-children-invoice {
    font-size: inherit;
    width: 15px;
}

.list-invoice .item-children-invoice span {
    margin-left: 5px;
}

.list-invoice .item-children-invoice .icon-children-invoice.fa-mobile {
    width: auto;
    font-size: 23px;
    margin-right: 5px;
}

.list-invoice .hobby-note-invoice {
    margin-left: 5px;
    width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.list-invoice .i-btn-choose-all button {
    padding: 6px 15px;
    border: 1px solid #008d4c;
    border-radius: 25px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    transition: 0.3s;
    width: 50px;
    margin-left: 20px;
    outline: none;
    background: #00a65a;
    color: #fff;
}

.list-invoice .item-children-invoice.hobby {
    align-items: flex-start;
}

.list-invoice .list-item-invoice:hover {
    background-image: linear-gradient(62deg, rgb(255 255 255) 0%, rgb(248 240 255) 100%);
    box-shadow: 0px 8px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    transform: translateY(-1px)
}

.list-invoice .list-item-invoice .i-btn-invoice {
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 5px; */
    background: #fff;
    border-radius: 15px;
    justify-content: inherit;
}

.list-invoice .list-item-invoice .i-btn-invoice .list-avt {
    display: grid;
    grid-template-columns: auto auto;
}

.list-invoice .list-item-invoice .i-btn-invoice .list-avt img {
    border-radius: 50%;
    padding: 2px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.list-invoice .list-item-invoice .i-btn-invoice .list-avt img:hover {
    transform: scale(1.5);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background: #fff;
}

.list-invoice .list-item-invoice .i-btn-invoice.i-iv-tech {
    width: 26vw;
}

/* .list-invoice .list-item-invoice .i-btn-invoice .name-tech-i{
    width: max-content;
} */

.list-invoice .list-item-invoice:hover .i-btn-invoice .btn {
    border: 1px solid rgb(184, 157, 255);
    box-shadow: none;
}

.list-invoice .list-item-invoice .i-btn-invoice .btn {
    padding: 6px 15px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 25px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    color: rgb(17, 85, 204);
    transition: 0.3s;
    width: 50px;
    margin-left: 20px
}

.list-invoice .list-item-invoice .i-btn-invoice .btn.btn-check {
    outline: none;
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

/* end css list invoice */
#tb_data {
    border: 1px solid #dee2e6 !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom: unset;
}

.dataTables_wrapper .dataTables_filter input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline: none;
}

.swal2-image {
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.modal input[type=number] {
    -moz-appearance: textfield;
}

.modal-content {
    background-clip: unset;
}

.vis-h {
    visibility: hidden;
}

.box-m {
    opacity: 0.1;
    transition: 0.3s;
}

.wrap-cus {
    /* display: flex; */
    /* justify-content: space-between;
    min-width: 350px; */
}

.wrap-cus .wrap-info {
    display: flex;
    padding-right: 3%;
}

/* .wrap-cus .wrap-plus-info {
    border-left: 1px solid #f4f4f4;
    padding-left: 3%;
} */

.item-children {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.text-line-th {
    text-decoration: line-through;
}

.wrap-cus .wrap-info .item-avt img {
    width: 90px;
    border-radius: 4px;
    transition: 0.3s;
}

.wrap-cus .wrap-info .item-avt img:hover {
    transform: scale(1.1);
}

.wrap-cus .wrap-info .item-info {
    padding-left: 15px;
}

.item-children .icon-children {
    font-size: 15px;
    width: 20px;
}

.item-children img.icon-children {
    width: 15px;
    margin-right: 5px;
}

.item-children span {
    margin-left: 5px;
}

.item-children.hobby .hobby-note {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.item-children.hobby {
    align-items: flex-start;
}

.item-children .icon-children.fa-mobile {
    width: auto;
    font-size: 30px;
    margin-right: 5px;
}

#modal_qrcode .wrap-qrcode img {
    width: 100%;
}

#modal_history .modal-dialog {
    max-width: 90vw;
}

#modal_history .tab-content>.tab-pane {
    max-height: 70vh;
    overflow: auto;
}

#modal_history thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, .16), 0 0px 0px rgba(0, 0, 0, .23);
}

#modal_qrcode p {
    font-size: 15px;
    text-align: center;
}

.ver-md {
    vertical-align: middle !important;
    text-align: center;
}

.wrap-content input,
select,
button {
    border-radius: 4px !important;
}

#modal_list_technician .modal-title {
    position: relative;
    width: 60%;
    padding-left: 10px;
}

#modal_list_technician .modal-footer {
    padding: 5px 10px;
    border-top: unset;
}

#modal_list_technician .modal-header {
    padding: 5px;
}

/* 
#modal_list_technician .modal-header .close {
    margin-top: -12px;
}

#modal_list_technician .modal-header .close span {
    font-size: 40px;
} */

#modal_list_technician .remove-search-tech {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* list ktv */
#modal_list_technician .wrap-list {
    margin: 0;
    padding: 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    z-index: 0;
}

#modal_list_technician .wrap-list .item-scroll {
    width: 100%;
    max-height: 85vh;
    overflow: auto;
}

.wrap-container {
    position: relative;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 20px;
}

.wrap-container .item-box {
    position: relative;
    height: 40vh;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background: #060c21;
    margin: 10px 0;
}

.wrap-container .item-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, .05)
}

.wrap-container .item-box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    transform: skew(2deg, 2deg);
    opacity: 0.1;
    transition: 0.5s;
}

.wrap-container .item-box:hover:before {
    transform: skew(-2deg, -2deg);
    opacity: 1;
}

.wrap-container .item-box::before {
    background: linear-gradient(315deg, #ff73ad, #ff0068);
}

.wrap-container .item-box .item-content {
    position: relative;
    padding: 40px 20px 0;
    min-width: 200px;
}

.wrap-container .item-box h2 img {
    width: inherit;
    border-radius: 4px;
}

.wrap-container .item-box .suitcase_tech {
    position: absolute;
    width: 90px;
    top: -10px;
    left: 0;
    opacity: 0.7;
}

.wrap-container .item-box h2 {
    position: absolute;
    top: 14px;
    right: 10%;
    padding: 0;
    margin: 0;
    font-size: 7rem;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
    user-select: none;
    opacity: 0.7;
    width: 80px;
    height: 80px;
}

.wrap-container .item-box:hover h2 {
    opacity: 1;
    top: 0px;
}

.wrap-container .item-box .item-content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.wrap-container .item-box .item-content p {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.wrap-container .item-box .item-content a {
    position: relative;
    margin: 3vh 0 0;
    padding: 5% 15%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    border: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    border-radius: 4px;
}

.wrap-container .item-box:hover .item-content a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    user-select: none;
}

.wrap-container .item-box .item-content a:hover {
    color: #000;
    background: #fff;
}

#modal_image .modal-content {
    border: none;
    background-color: #3e3e3e;
}

#modal_image .btn-close-modal {
    position: absolute;
    top: 0px;
    right: -4rem;
    padding: .875rem 1.25rem;
}

.list {
    background: #fff;
    border-radius: 2px;
    list-style: none;
    padding: 0;
    max-height: 80vh;
    overflow: auto;
}

/* 
.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


.list::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #cfcfcf;
} */

.list .list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* transition: padding 0.3s; */
    padding: 5px;
}

.list-item:before {
    content: '';
    position: absolute;
    width: 98%;
    height: 1px;
    left: 1%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.list .list-item .i-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.list .list-item .i-btn .icon_doing {
    color: #dc3545;
    margin-right: 30px;
}

.list .list-item .i-btn .btn {
    padding: 6px 15px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 25px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    color: rgb(17, 85, 204);
    transition: 0.3s;
}

/* .list .list-item:hover .i-btn .btn {
    border: 1px solid rgb(184, 157, 255);
    box-shadow: none;
} */

/* .list .list-item:hover:before {
    width: 0;
} */

.list .list-item .i-info {
    display: flex;
}

/* .list .list-item:hover {
    padding-left: 0;
    background-image: linear-gradient(62deg, rgb(220, 237, 255) 0%, rgb(237, 218, 255) 100%);
} */


.list-item-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.list .list-item-content {
    margin-left: 20px;
}

.list .list-item-content .suitcase {
    padding-left: 5px;
}

.list .list-item-content h4,
.list .list-item-content p {
    margin: 0;
}

.list .list-item-content h4 {
    margin-top: 10px;
    font-size: 18px;
}

.list .list-item-content p:not(.name-cus) {
    color: #545454;
}

.list .list-item-content p {
    margin-top: 5px;
}

#modal_list_technician .list .list-item-content p {
    color: #aaa;
}

@media (min-width: 769px) {
    .wrap-list .item-scroll {
        max-height: 81vh;
    }
}

@media (max-width: 768px) {
    #modal_list_technician .modal-body {
        /* padding: 10px; */
    }

    .wrap-cus .wrap-info .item-avt img {
        width: 70px;
    }

    .wrap-cus .wrap-info .item-info {
        padding-left: 10px;
    }

    .item-children .icon-children {
        font-size: inherit;
        width: 15px;
    }

    .item-children .icon-children.fa-mobile {
        font-size: 23px;
    }

    .wrap-cus .item-children img.icon-children {
        margin-right: 0;
    }

    .list .list-item-content {
        margin-left: 10px;
    }

    .list .list-item-content h4 {
        font-size: 12px;
    }

    #modal_list_technician .modal-dialog {
        min-width: 90vw;
    }
}

@media (max-width: 576px) {
    .list {
        max-height: 78vh;
    }

    .list .list-item:last-child {
        border-bottom: none;
    }

    #modal_image .btn-close-modal {
        right: 0;
    }
}

@media all and (min-width: 425px) {
    .hide-rotate {
        display: none;
    }
}