/* Preloaders In Button ================================== */
.preloader-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrap-custom-upload::before {
    content: "Chọn hoặc kéo hình ảnh vào đây";
    color: #999;
}

.wrap-custom-upload img {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    object-fit: contain;
}

.wrap-custom-upload .btn-remove-image {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    right: -13px;
    top: -12px;
    z-index: 3;
    background-color: #e5e5e5;
    border-radius: 50%;
    border: none;
    display: none;
}

.wrap-custom-upload img[src=""] {
    display: none;
}

.wrap-custom-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-0 label {
    color: red;
    font-weight: 400;
}

.info-product {
    display: flex;
}

.info-center {
    align-items: center;
}

.info-product img.thumbnail-icon {
    height: 50px;
    width: 50px;
    border: 1px solid #e5e5e5;
    object-fit: contain;
    margin-right: 5px;
}

img.thumbnail-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}


/**/

.bootstrap-select .dropdown-menu.inner {
    max-height: 300px;
    overflow: scroll;
}


/* Preloaders In Row ================================== */

@keyframes placeHolderShimmer {
    0% {
        background-position: -500px 0;
    }
    100% {
        background-position: 500px 0;
    }
}

.loader-in-row {
    pointer-events: none;
    user-select: none;
}

.loader-in-row span {
    display: block;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #f3f3f3 5%, #eee 15%, #f3f3f3 25%);
}

.loader-in-row span.size-hero {
    width: 100%;
    height: 50px;
}

.loader-in-row span.size-line-70 {
    width: 70%;
    height: 10px;
}

.loader-in-row span.size-line-100 {
    width: 100%;
    height: 10px;
}

.loader-in-row span.size-line-50 {
    width: 50%;
    height: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2-results__options .parent {
    position: relative;
    padding-left: 20px;
}

.select2-results__options .children,
.select2-results__options .children-last {
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.select2-results__options .children {
    padding-left: 0;
}

.select2-results__options .children-last:before,
.select2-results__options .parent:before {
    content: " ";
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    border-left: 1px dashed #000;
    top: -7px;
    left: 0;
}

.select2-results__options .children-last:after,
.select2-results__options .parent:after {
    content: " ";
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    background-color: #000;
    top: 8px;
    left: 0;
}

.loading {
    position: relative;
}

.loading::before {
    content: "Đang tải...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: progress;
    z-index: 999;
}

.icon-remove-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.po-r {
    position: relative !important;
}

.d-block {
    display: block !important;
}

.pd-0 {
    padding: 0 !important;
}

.mg-0 {
    margin: 0 !important;
}

.mg-b-5px {
    margin-bottom: 5px !important;
}

.mg-b-10px {
    margin-bottom: 10px !important;
}

.mg-t-5px {
    margin-top: 5px !important;
}

.mg-t-10px {
    margin-top: 10px !important;
}

.mg-r-10px {
    margin-right: 10px !important;
}

.mg-r-5px {
    margin-right: 5px !important;
}

.mg-2px {
    margin: 2px !important;
}

.h-100 {
    height: 100%;
}

.w-50px {
    width: 50px !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33.33333333% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.w-100 {
    width: 100% !important;
}

.min-max-content {
    min-width: max-content !important;
}

.d-flex {
    display: flex !important;
}

.flex-end {
    justify-content: flex-end;
}

.d-flex-bw {
    display: flex;
    justify-content: space-between;
}

.d-block {
    display: block !important;
}

.pd-b-10 {
    padding-bottom: 10px !important;
}

.pd-10px {
    padding: 10px !important;
}

.pd-l-r-10px {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pd-r-0 {
    padding-right: 0 !important;
}

.pd-5px {
    padding: 5px !important;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.box-shadow-none {
    box-shadow: none !important;
}

.cur-p {
    cursor: pointer !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.previous, .next) {
    border-radius: 50% !important;
}

div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-action-custom {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
    color: #212529;
    border: none;
}

.boder-err {
    border: 1px solid #d73925 !important;
}

.border-right-radius-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left-radius-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.badge-sm {
    font-size: 10px !important;
}

.btn-circle.btn-sm {
    height: 30px;
    width: 30px;
    padding: 0;
}

.btn-circle.btn-sm>i {
    position: static;
    font-size: 14px;
}

.label-checkbox-sm::before,
.label-checkbox-sm::after {
    transform: scale(0.8);
}

.tb-none-bor-top tbody>tr:first-child>td {
    border-top: none !important;
}

.disabled {
    cursor: no-drop;
    opacity: 0.5;
}

.table-align-center tbody>tr>td {
    vertical-align: middle;
}

.empty-folder {
    min-height: 100px;
    background-image: url(../images/empty-folder.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
}

.empty-folder:after {
    content: "Trống";
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c5c5c5;
}

.pointer-none {
    pointer-events: none !important;
}

.user-select-none {
    user-select: none !important;
}

.wrap-custom-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 6px;
    height: 120px;
    position: relative;
}

.wrap-custom-upload::before {
    content: "Chọn hoặc kéo hình ảnh vào đây";
    color: #999;
}

.wrap-custom-upload img {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    object-fit: contain;
}

.wrap-custom-upload .btn-remove-image {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    right: -13px;
    top: -12px;
    z-index: 3;
    background-color: #e5e5e5;
    border-radius: 50%;
    border: none;
    display: none;
}

.wrap-custom-upload img[src=""] {
    display: none;
}

.wrap-custom-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-0 label {
    color: red;
    font-weight: 400;
}

.info-product {
    display: flex;
}

.info-center {
    align-items: center;
}

.info-product img.thumbnail-icon {
    height: 50px;
    width: 50px;
    border: 1px solid #e5e5e5;
    object-fit: contain;
    margin-right: 5px;
}

img.thumbnail-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.wrap-custom-upload img[src]:not(.wrap-custom-upload img[src=""])+.btn-remove-image {
    display: block;
}

.table-vcenter td {
    vertical-align: inherit !important;
}

.text-white {
    color: #fff !important;
}

.text-success {
    color: #3c763d !important;
}

.swal-overlay--show-modal .swal-modal {
    will-change: unset !important;
}

@media (min-width: 768px) {
    .swal-modal.swal-sm {
        width: 350px;
    }
    .swal-title {
        font-size: 20px;
    }
    .swal-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

@media screen and (min-width: 1023px) {
     ::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
    }
     ::-webkit-scrollbar {
        width: 15px;
    }
     ::-webkit-scrollbar-thumb:vertical:hover {
        background-color: #555;
    }
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #dd4b39;
}

.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-default {
    border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}

.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}

.box .nav-stacked>li:last-of-type {
    border-bottom: none;
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.box .border-left {
    border-left: 1px solid #f4f4f4;
}

.box.box-solid {
    border-top: 0;
}

.box.box-solid>.box-header .btn.btn-default {
    background: 0 0;
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}

.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
}

.box.box-solid.box-default>.box-header .btn,
.box.box-solid.box-default>.box-header a {
    color: #444;
}

.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header .btn,
.box.box-solid.box-primary>.box-header a {
    color: #fff;
}

.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header .btn,
.box.box-solid.box-info>.box-header a {
    color: #fff;
}

.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
}

.box.box-solid.box-danger>.box-header .btn,
.box.box-solid.box-danger>.box-header a {
    color: #fff;
}

.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header .btn,
.box.box-solid.box-warning>.box-header a {
    color: #fff;
}

.box.box-solid.box-success {
    border: 1px solid #00a65a;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}

.box.box-solid.box-success>.box-header .btn,
.box.box-solid.box-success>.box-header a {
    color: #fff;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}

.box.box-solid[class*="bg"]>.box-header {
    color: #fff;
}

.box .box-group>.box {
    margin-bottom: 5px;
}

.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}

.box>.loading-img,
.box>.overlay,
.overlay-wrapper>.loading-img,
.overlay-wrapper>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}

.box-body:after,
.box-body:before,
.box-footer:after,
.box-footer:before,
.box-header:after,
.box-header:before {
    content: " ";
    display: table;
}

.box-body:after,
.box-footer:after,
.box-header:after {
    clear: both;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header .box-title,
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    margin-right: 5px;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.box-header>.box-tools .dropdown-menu>li>a {
    color: #444 !important;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: 0 0;
    color: #97a0b3;
}

.btn-box-tool:hover,
.open .btn-box-tool {
    color: #606c84;
}

.btn-box-tool.btn:active {
    box-shadow: none;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.box-body>.table {
    margin-bottom: 0;
}

.box-body .fc {
    margin-top: 5px;
}

.box-body .full-width-chart {
    margin: -19px;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.btn>.fa {
    font-size: 14px !important;
}

.float-r {
    float: right !important;
}

.carousel {
    background-color: #9e9e9e;
}

.carousel-cus.carousel-inner>.carousel-item>a>img,
.carousel-cus.carousel-inner>.carousel-item>img {
    height: 80vh;
    object-fit: contain;
    margin: 0 auto;
}


/* iCheck plugin Square skin, green
----------------------------------- */

.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-action-custom {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
    color: #212529;
    border: none;
}

.boder-err {
    border: 1px solid #d73925 !important;
}

.border-right-radius-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left-radius-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.badge-sm {
    font-size: 10px !important;
}

.btn-circle.btn-sm {
    height: 30px;
    width: 30px;
    padding: 0;
}

.btn-circle.btn-sm>i {
    position: static;
    font-size: 14px;
}

.label-checkbox-sm::before,
.label-checkbox-sm::after {
    transform: scale(0.8);
}

.tb-none-bor-top tbody>tr:first-child>td {
    border-top: none !important;
}

.disabled {
    cursor: no-drop;
    opacity: 0.5;
}

.table-align-center tbody>tr>td {
    vertical-align: middle;
}

.empty-folder {
    min-height: 100px;
    background-image: url(../images/empty-folder.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
}

.empty-folder:after {
    content: "Trống";
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c5c5c5;
}

.pointer-none {
    pointer-events: none !important;
}

.user-select-none {
    user-select: none !important;
}

.wrap-custom-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 6px;
    height: 120px;
    position: relative;
}

.wrap-custom-upload::before {
    content: "Chọn hoặc kéo hình ảnh vào đây";
    color: #999;
}

.wrap-custom-upload img {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    object-fit: contain;
}

.wrap-custom-upload .btn-remove-image {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    right: -13px;
    top: -12px;
    z-index: 3;
    background-color: #e5e5e5;
    border-radius: 50%;
    border: none;
    display: none;
}

.wrap-custom-upload img[src=""] {
    display: none;
}

.wrap-custom-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.icheckbox_square-green.hover {
    background-position: -24px 0;
}

.icheckbox_square-green.checked {
    background-position: -48px 0;
}

.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}

.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

img.thumbnail-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.iradio_square-green.hover {
    background-position: -144px 0;
}

.iradio_square-green.checked {
    background-position: -168px 0;
}

.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}

.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}


/* HiDPI support */

@media (-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
    .swal-title {
        font-size: 20px;
    }
    .swal-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.range_datepicker {
    border-color: #aaa;
}

.range_datepicker {
    border-radius: 4px;
}

.empty-folder {
    min-height: 100px;
    background-image: url(/assets/images/empty-folder.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
}

.empty-folder:after {
    content: "Trống";
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c5c5c5;
}

.loading {
    position: relative;
    overflow: hidden;
}

.loading::before {
    content: "Đang tải...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .95;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: progress;
    z-index: 999;
    border-radius: var(--radius);
}

.loading_input::before {
    content: '';
    position: absolute;
    z-index: 10;
    background-image: url(/assets/images/loading.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 20px;
    height: 20px;
    display: block;
    background-color: #fff;
}

b,
strong {
  font-weight: bold !important;
}

.select2-container--open {
    z-index: 9999;
}

.required {
    color: red;
}

.hover-danger:hover {
    color: red !important;
}

.dt-toolbar-footer {
    display: flex;
}

.avatar-in-table {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.wrap-search-i i {
  position: absolute;
  right: 15px;
  top: 34%;
  opacity: 0;
}

.datepicker td,
.datepicker th {
  padding: 3px;
}

.select2-container--open {
    z-index: 9999;
}

.font-15 {
  font-size: 15px !important;
}

.card-header:not(.collapsed) {
  background-color: #e7f3ff;
  color: #1877f2;
}

.selectedRow {
  background-color: rgba(0, 0, 0, 0.075);
}


ul.result_search {
    list-style: none;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-height: 250px;
    overflow: auto;
    padding-left: 0;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    margin-bottom: 0;
}

ul.result_search>li {
    clear: both;
    /* line-height: 2.3rem; */
    text-align: left;
    text-transform: none;
    cursor: pointer;
    width: 100%;
    user-select: none;
    padding: 5px;
    border-bottom: 1px solid #eee;
}