.cmt-img {
    width: 100%;
    margin-bottom: 10px;
}

.cmt-img img {
    max-width: 200px;
    height: auto;
}

span.count {
    width: 20px;
    display: inline-block;
    height: 20px;
    color: #dc0000 !important;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
}

.load-more {
    border: 1px solid green;
    text-align: center;
    color: green;
    padding: 8px;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.open_reply_form {
    font-size: 12px;
    font-style: italic;
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
}

.add-parent-comment.form-group.reply-form {
    padding: 20px 30px;
    background: rgba(255, 235, 205, 0.7019607843137254);
    border-radius: 5px;
    border: 1px solid #b3b3b3;
}


.comment-item.non-public .comment-title,
.comment-item.non-public .comment-text,
.comment-item.non-public .reply-form,
.comment-item.non-public .cmt-img {
    opacity: .5;
}

.count-answers {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.private-icon img {
    width: 15px;
    height: auto;
    margin-left: 10px;
}

.parent-comment.collapsed {
    border: 1px solid #d2d2d2 !important;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
}

.comment-actions {
    position: absolute;
    top: 26px;
    left: 0;
    background: white;
    border: 1px solid #d4d4d4;
    padding: 5px 0;
    z-index: 99;
    border-radius: 4px;
    transition: .2s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.show-actions .comment-actions,
.show-actions .dots {
    opacity: 1;
    visibility: unset;
}



.comment-actions ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.parent-comment.newest-list {
    margin-top: 0;
    padding: 10px;
    transition: .2s all linear;
}

.parent-comment.newest-list:hover {
    background: #c7e5fc;
}

.comment-title {
    transition: .2s all linear;
}

.comment-actions li {
    padding: 2px 7px;
    transition: .1s all linear;
    cursor: pointer;
}

.comment-actions li:hover {
    background: antiquewhite;
}

.style-3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #000000b7;
}

.dots {
    font-size: 7px;
    display: inline-block;
    line-height: 21px;
    height: 14px;
    color: grey;
    cursor: pointer;
    height: 24px;
    width: 30px;
}

.comment-item {
    position: relative;
}

.form-check {
    display: flex;
    min-width: 44px;
    align-items: center;
}

.form-check label,
.form-check input {
    margin: 0;
}

.form-text {
    width: 47%;
}

.form-bot {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.form-bot .value-element {
    width: 100%;
}

.selected .text-onside {
    opacity: 1;
    visibility: unset;
}

.form-filter li {
    padding: 5px 10px;
    margin: 3px 0;
    border-bottom: 1px solid #cccccc;
    transition: .2s all linear;
    border-radius: 2px;
}

.form-filter li:hover {
    background: #f9f9f9;
}

.form-filter input {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc8c8;
    border-radius: 20px;
    outline: none;
    padding: 0 10px 0 25px;
}

.form-filter {
    position: relative;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 15px;
}

div.dataTables_info {
    padding-top: 0 !important;
}

.dt-toolbar-footer {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.form-filter ul {
    padding: 0;
    list-style: none;
    margin: 0 15px;
    transition: .2s all linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 30px);
    background: white;
    max-height: 250px;
    overflow-y: auto;
    z-index: 99;
}

.text-onside {
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 35px;
    background: aliceblue;
    border-radius: 20px;
    align-items: center;
    padding: 0 15px;
    opacity: 0;
    visibility: hidden;
}

.form-filter ul {
    padding: 0;
    list-style: none;
    margin: 0 15px;
    transition: .2s all linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 30px);
    background: white;
    max-height: 250px;
    overflow-y: auto;
}

.parent-comment {
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 4px solid rgba(33, 150, 243, 0.25098039215686274);
}

.user-type img {
    width: 15px;
    height: auto;
}

.left-area .small {
    padding: 0 10px;
    color: grey;
}

.comment-text {
    margin: 5px 0 10px;
    color: #337ab7;
}

.comment-manager {
    padding: 20px 50px;
    background: white;
}

.parent-comment:first-child {
    margin-top: 0;
    border: none;
}

.reply-form {
    width: 100% !important;
    position: relative;
    margin-bottom: 0 !important;
    justify-content: space-between
}

.reply-form input {
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.reply-form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    line-height: 34px;
    width: 34px;
    border: none;
    color: #337ab7;
    outline: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.answer {
    margin: 0 3em 3px;
    padding-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px dashed #dfdfdf;
}

img.booking-img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

button.booking-btn {
    padding: 7px 10px;
    background: #28a745;
    border: 1px solid transparent;
    color: white;
    border-radius: 3px;
    transition: .2s all linear;
}

button.booking-btn:hover {
    background: white;
    color: #28a745;
    border-color: #28a745;
}

.note {
    position: relative;
}

.d-none {
    display: none;
}

.note .btn-send {
    padding-top: 1px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    background: #bfc5c8;
    color: #051428;
    border-radius: 50%;
    padding-right: 1.5px;
    cursor: pointer;
}

.content-header {
    display: none;
}

.display {
    display: none;
}

.cursor {
    cursor: pointer;
}

.select2-container .select2-selection--single {
    height: 34px;
    border-radius: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.check .input-group-addon {
    border: unset;
    background-color: transparent !important;
}

.content [class*="icheck-material"]>label {
    padding-left: 20px !important;
    min-height: 22px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    left: 9px;
    vertical-align: top;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

[class*="icheck-material"]>input:first-child:checked+label::after,
[class*="icheck-material"]>input:first-child:checked+input[type="hidden"]+label::after {
    left: -9px;
}

[class*="icheck-material"] {
    min-height: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0;
}


#create_modal .form-group {
    margin-bottom: 5px;
}

.content .label-default {
    background: #666 !important;
}

#create_modal input,
#create_modal textarea,
#create_modal select {
    border-radius: 4px;
}

.add-bt {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.add-bt i {
    font-size: 20px;
}

.close_field {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: white;
    color: red;
    font-size: 16px;
    z-index: 999;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    font-weight: 500;
}

.card-container .nav-tabs>li a>i {
    margin-right: 3px;
    position: relative;
    top: -0.5px;
    font-size: 13px;
}

.content .input-group .input-group-addon {
    background-color: #e6fefd;
}

/* search */
.search-feild {
    padding: 5px;
    background: rgb(230, 230, 230);
    margin-bottom: 5px;
    border-radius: 3px;
    width: 100%;
    position: relative;
}

.search-feild .form-group {
    margin-bottom: 0;
}

.form-group {
    width: 260px;
    margin-right: 30px;
}

@media screen and (max-width: 767px) {
    .form-group {
        width: 100%;
        margin-right: 0;
    }

    .button_excel {
        height: 28px !important;
    }

    .card-container .pc {
        display: none !important;
    }

    .card-container .mb select {
        display: block !important;
    }

    .card-container .nav-tabs>li {
        width: 100% !important;
        margin-bottom: 5px;
    }

    .pc-pdf {
        display: none !important;
    }

    .mobile-pdf {
        display: inline-block !important;
    }
}

/* search */
@media screen and (min-width: 1200px) {}

.card-container .tab-content {
    border: unset;
    padding: 0 !important;
}

.card-container {
    background: #f5f5f5;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    padding-bottom: 10px;
}

.nav-tabs {
    font-size: 15px;
    font-weight: 700;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.content .active {
    position: relative;
    background: rgba(245, 245, 245, 0.48);
}

.card-container .nav-tabs>li.active>a,
.card-container .nav-tabs>li.active>a:focus,
.card-container .nav-tabs>li.active>a:hover {
    border: unset;
}

.card-container .nav-tabs>li.active a {
    color: #ffffff;
    background: #666666;
    box-shadow: 2px 5px 4px 0px #aba1a1;
}

.card-container .nav-tabs>li a {
    color: #666;

}

.nav-tabs>li>a {
    font-weight: 400;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.content .select2-container {
    width: 100% !important;
}

.box {
    opacity: 0
}

@font-face {
    font-family: tt;
    src: url('assets/images/tt.ttf');
}


.ant-tabs-nav {
    height: 43px;
    line-height: 43px;
    border-bottom: 1px dashed #3c8dbc;
    margin-bottom: 5px;
}

.ant-tabs-nav>div .active {
    background: transparent;
}

.ant-tabs-tab {
    padding: 0 30px;
    transition: 0.3s all;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.ant-tabs-nav>div .active:before {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 2px;
    content: '';
    background: #2875c7;
}

.ant-tabs-nav>div .active span {
    color: #2875c7;
}

.ant-tabs-tab i {
    margin-right: 5px;
    font-size: 15.5px;
    position: relative;
    top: 2px;
}

.ant-tabs-tab {
    padding: 0 30px;
    transition: 0.3s all;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.content span {
    color: #888888;
}

#create_modal .form-group {
    width: 100%;
}



/* width */
#file_content iframe ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#file_content iframe ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#file_content iframe ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#file_content iframe ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#create_modal .select2-dropdown {
    top: 0 !important;
}

.sign_search .select2-container--default .select2-selection--single {
    border-radius: 0;
}

.close {
    outline: unset;
}

.input-group {
    width: 100%;
}

.content .input-group .input-group-addon {
    background-color: #e6fefd;
    width: 42px;
}

.check .input-group .input-group-addon {
    width: unset;
}

.check {
    width: 100%;
}

.tab-content .left {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-content .left>div {
    min-width: 700px;
}

.tab-content .left::-webkit-scrollbar {
    width: 1px;
}

/* Track */
.tab-content .left::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.tab-content .left::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.tab-content .left::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.disabled {
    pointer-events: none;
    background: #666;
}

#ui-datepicker-div {
    z-index: 99999 !important;
}

.form-filter.active ul {
    opacity: 1;
    visibility: unset;
}

.right-area a {
    text-decoration: underline;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 250px;
}

@media screen and (max-width: 1200px) {
    .out-form-filtet {
        justify-content: center;
    }

    .right-area a {
        max-width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .right-area a {
        max-width: 100%;
    }

    .form-bot {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-text {
        width: 100%;
    }

    .answer {
        margin: 0 0 3px 2em;
    }

    .left-area {
        justify-content: space-between;
        width: 100%;
    }

    .left-area>strong {
        width: 100%;
    }

    .left-area .small {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 500px) {
    .comment-manager {
        padding: 10px;
    }

}

#page_title_search .select2-container--default .select2-selection--multiple {
    border-radius: 15px;
    margin-top: 16px;
}

#page_title_search {
    width: 350px;
}