.form-serch-submit .btn {
    width: calc(50% - 5px);
    padding-left: 5px;
    padding-right: 5px;
}

.list-group-item>.badge {
    position: absolute;
    right: 5px;
    top: 5px;
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu>li>a {
    padding: 5px 10px;
}

.mg-t-10px {
    margin-top: 10px;
}

.box-filter .form-group {
    padding: 0 5px;
    margin-bottom: 10px;
}

.box-filter .row {
    margin: 0 -5px;
}

.pd-10px {
    padding: 10px;
}

.bg-content {
    background: #F7F7F7;
}

.f-left {
    float: left;
}

@media(max-width: 550px) {
    .ws-item .col-xs-3 {
        padding: 0 5px;
    }
    .ws-item .row {
        margin: 0 -5px;
    }
    ul.advanced-menu {
        justify-content: space-between;
    }
    ul.advanced-menu li {
        font-size: 14px;
        padding: 5px;
        flex: auto;
        text-align: center;
    }
}