.box1 {
    opacity: 0;
}

.tb-cus tr td {
    padding: 2px !important;
}

.modal-dialog1 {
    width: 70% !important;
}

.drop-cl {
    position: absolute;
    padding: 7px 5px 5px 5px;
    margin: 2px 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    min-width: 120px;
    max-height: 300px;
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 0;
}

.drop-cl ul {
    overflow: auto;
    max-height: 200px;
    margin-left: -15px;
}

.drop-cl ul li {
    cursor: pointer;
}

.tb-sr {
    margin-top: 22px;
}

@media only screen and (max-width: 768px) {
    .modal-dialog1 {
        width: 90% !important;
    }

    .tb-sr {
        margin-top: 10px;
    }
}


.ip-cus {
    /* background-color: #fff; */
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 24px;
    padding-right: 5px;
    text-align: center;
}

.ip-cus2 {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 34px;
    padding-right: 5px;
    text-align: right;
}

.mg-top {
    margin-top: -72px;
}

.tb-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bor-danger {
    border-color: red;
    outline: none;
}


.tableFixHead {
    max-width: 100%;
    max-height: 65vh;
    overflow: auto;
    position: relative;
}

table {
    position: relative;
    border-collapse: collapse;
}

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    background-color: white;
}

thead th:first-child {
    left: 0;
    z-index: 1;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    /* background: #eee; */
    border-right: 1px solid #CCC;
}

.mg-t-10 {
    margin-top: 10px;
}

.bor-danger {
    border-color: red;
    outline: none;
}

.tb-cus tr td {
    padding: 2px !important;
}

.areatext {
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 25px;
}

.tb-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}